*.jpg
*.png
*.bmp
steam_retriever/bin
steam_retriever/obj
*.dll
steam_retriever.deps.json
steam_retriever.exe
steam_retriever.linux
steam_retriever.macos
steam_retriever.pdb
steam_retriever.runtimeconfig.json