*.jpg
*.png
*.bmp
*.dll
steam_retriever/bin
steam_retriever/obj
steam_retriever.deps.json
steam_retriever.exe
steam_retriever.linux
steam_retriever.macos
steam_retriever.pdb
steam_retriever.runtimeconfig.json
epic_retriever/bin
epic_retriever/obj
epic_retriever.deps.json
epic_retriever.exe
epic_retriever.linux
epic_retriever.macos
epic_retriever.pdb
epic_retriever.runtimeconfig.json
